.main-item-details-container {
  display: flex;
  flex-direction: row;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    background-color: whitesmoke;
    padding-top: 1rem;
}

.item-details-image {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

.item-details {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.hr1 {
  border-top: 1px solid grey;
}

.denominations{
  margin-bottom: 1rem;
}

.quantity-input{
  height: 25px;
}

.modal-content-styling {
  border-bottom: none !important;
  color: #0f5132;
  border-radius: 6px !important;
    background-color: #badbcc;
  border-color: #badbcc; 
}

.modal-content {
  margin-top: 10rem;
}
