.main-item-details-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
    box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
    background-color: whitesmoke;
}

.item-details-image {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

.item-details {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.hr1 {
  border-top: 1px solid grey;
}

.denominations{
  margin-bottom: 1rem;
}

.quantity-input{
  height: 25px;
}