.navbar {
  background-color: #3e4451;
  padding-left: 2rem;
  padding-right: 2rem;
}

.storeName {
  color: white;
}

.shopping-cart {
  height: 110px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.shopping-cart img {
  max-height: 100%;
  width: 155px;
  object-fit: cover;
}

.group-img-and-name {
  display: flex;
  flex-direction: row;
}

.product-name {
  font-size: larger;
  font-weight: 600;
  margin: 0;
  padding-top: 1rem;
}

.price {
  padding-top: 0.15rem;
  padding-right: 0.5rem;
  margin-bottom: 0 !important;
}

.group-price {
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.group-name-denom-qty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
}
.group-qty-and-remove {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.denomination{
  margin-bottom: 0;
}

.sender-fee {
  margin-bottom: 0
}

.hr-cart {
  border-bottom: 2px solid darkgrey;
  margin: auto;
  margin-bottom: 1rem;
}

.group-total-amount-and-checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.total-amount {
  margin: 0;
  font-size: x-large;
  font-weight: 600;
}
